PORT=3003

# Or the other backend service, default to Nuxt server
API_PROXY=/api

# For JWS signing, RS256 algorithm. it's not required and can be auto generated (pem files).
# but on vercel serverless, you should fill them manually.
PRIVATE_KEY=
PUBLIC_KEY=

# For MySQL connection
MYSQL_PORT = 3306
MYSQL_USER = root
MYSQL_PASSWORD = 123456
MYSQL_HOST = localhost
MYSQL_DB = chilpost
MYSQL_SSL = false
