@import "./variables";

header {
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  width: stretch;
  height: $header-height;
  padding: 0 1rem;
  transition: transform 0.3s ease-in-out;
  transform: translateY(0);
  user-select: none;

  &.scroll-up {
    transform: translateY(-100%);
  }

  @include border(bottom);

  label {
    position: relative;
    width: 40%;
    padding: 0.7rem;
    padding-left: 2.3rem;
    margin-left: auto;
    font-size: 0.9rem;
    background: var(--hover);
    border-radius: 12px;
    transition: width 0.3s ease-in-out;

    &:focus-within {
      width: 60%;
    }

    span {
      position: absolute;
      top: 50%;
      left: 0.5rem;
      transform: translateY(-50%);
    }
  }

  input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;

    &::-webkit-search-cancel-button {
      margin-left: 0.5rem;
    }
  }
}

section {
  width: 100%;
}

main {
  padding: 0.5rem;
  margin: $header-height auto;
  transition: all 0.3s ease-in-out;
}

@media (min-width: $sm) {
  header.scroll-up {
    transform: translateY(0);
  }

  main {
    padding: 0.5rem 2rem;
  }
}

@media (min-width: $lg) {
  header {
    margin-right: $aside-width;
  }
}
