@import "./variables";

.user-box {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  .nick-name {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .menu {
    margin-left: auto;
  }

  .avatar img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
  }
}

.name,
.time {
  font-size: 0.9rem;
  color: var(--text-2);
}

.name-box {
  display: flex;
  flex-direction: column;
}

.content {
  margin: 1rem 0;
  font-size: 1.1rem;
}
