@import "./variables";

.banner {
  width: 100%;
  height: 180px;
  margin-top: $header-height;
  background-color: var(--text-2);
}

main.post-list {
  padding: 0 0.5rem;
  margin-top: 1rem;
  margin-bottom: $nav-footer-height;
}
