@use "~/assets/variables" as *;

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: $nav-footer-height;
  padding: 0.5rem 1rem;
  user-select: none;
  transition: transform 0.3s ease-in-out;
  transform: translateY(0);

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 2.5rem;
    color: #fff;
    background: $theme-color;
    border-radius: 16px;
    box-shadow: 0 0 10px var(--background-color);
    transition: transform 0.3s ease-in-out;
  }
}

a.logo {
  display: none;
}

a {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
  padding: 0.2rem 0.8rem;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 3rem;
  border-radius: 12px;

  p {
    display: none;
  }

  span.icon {
    width: 3rem;
    height: 3rem;
  }
}

// FAB
button.fab {
  position: fixed;
  right: 0.5rem;
  bottom: 3rem;
  z-index: 999;
  width: 4rem;
  height: 4rem;
  margin: 1rem;
  border-radius: 50%;

  .text {
    display: none;
  }

  .icon {
    width: 2rem;
    height: 2rem;
  }
}

.send-post.hide {
  display: none;
}

@media (min-width: $sm) {
  nav {
    flex-direction: column;
    gap: 0.8rem;
    justify-content: start;
    width: $nav-aside-width;
    height: 100%;
    padding: 1rem;

    @include border(right);
  }

  a.logo {
    display: flex;
    gap: 0.4rem;
    align-items: center;
    width: 100%;
    height: 3rem;

    h1 {
      font-size: 1.2rem;
      font-weight: bold;
      background: linear-gradient(-45deg, #5481b8 30%, #88abd0);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    img {
      height: 100%;
      padding: 0.3rem;
      border-radius: 12px;
    }
  }

  a {
    justify-content: start;
    width: 100%;
    height: 3rem;

    &:hover {
      background: var(--hover);
    }

    span {
      width: 2rem;
      height: 1.5rem;
    }

    p {
      display: inline-block;
      margin-left: 0.5rem;
      font-size: 1rem;
    }
  }

  button.fab {
    position: relative;
    right: 0;
    bottom: 0;
    width: 90%;
    height: 2.5rem;
    border-radius: 16px;

    .text {
      display: inline-block;
      font-weight: bold;
    }

    .icon {
      display: none;
    }

    &.hide {
      display: flex;
    }
  }
}
