@use "../variables" as *;

$avatar-width: 10rem;

.avatar-edit {
  position: absolute;
  top: 1rem;
  right: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: $avatar-width;
  height: auto;
  min-height: $avatar-width;
  padding: 0.5rem;
  border-radius: 8px;

  p {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    font-weight: bold;
  }

  img {
    width: $avatar-width;
    height: $avatar-width - 1rem;
    object-fit: cover;
    background-color: var(--gray-1);
    border-radius: 100%;
  }

  .edit {
    position: absolute;
    bottom: 0.5rem;
    left: 1rem;
    display: flex;
    gap: 0.2rem;
    align-items: center;
    justify-content: center;
    padding: 0.4rem 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;

    // background-color: var(--gray);
    border-radius: 8px;
    
  }
}


@media (min-width: $sm) {
  .avatar-edit {
  right: 7rem;
  }
}
