:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;

  --border-color: #e5e7eb;
  --background-color: #f9fafb;
  --color: #000000de;
  --hover: #E7E7E8;
  --hover-1: #F7F7F7;
}

$smd: 640px;
$lgd: 1024px;

* {
  box-sizing: border-box;
}

html {
  scrollbar-width: thin;
  background-color: var(--background-color);
  color: var(--color);

  &::-webkit-resizer,
  & ::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 3px;
  }

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &.dark {
    --background-color: #000;
    --color: #fff;
    --border-color: #2f3336;
    --hover: #181818;
    --hover-1: #0f0f0f;
  }
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  @apply w-screen flex flex-col items-center position-relative;
}

@mixin border($pos) {
  $border-width: 1px;
  $border-color: var(--border-color);

  border-#{$pos}-width: $border-width;
  border-#{$pos}-color: $border-color;
}

h1,
h2,
h3,
h4 {
  @apply my-xl text-center text-2xl font-bold;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

span.icon {
  display: inline-block;
  max-width: 1.5rem;
  max-height: 1.5rem;
}
