@use "../variables" as *;

main {
  padding: 0.5rem;
  margin: $header-height 0;
}

.post-meta {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  padding-bottom: 1rem;
  color: var(--text-2);
}

.user-box {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  .nickname {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .menu {
    margin-left: auto;
  }

  .avatar img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
  }
}

.name,
.time {
  font-size: 0.9rem;
  color: var(--text-2);
}

.name-box {
  display: flex;
  flex-direction: column;
}

.content {
  margin: 1rem 0;
  font-size: 1.1rem;

  p {
    word-break: break-all;
  }
}
