@use "../variables" as *;

section > div {
  display: flex;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  border-radius: 8px;

  div.section-main {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    padding-left: 1rem;
    line-height: 1.5rem;
  }
}

div.avatar {
  flex-direction: column;
  flex-shrink: 0;

  img {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    border-radius: 50%;
  }
}

div.content {
  p {
    word-break: break-all;
  }
}

.post-meta {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  justify-content: center;

  & > div {
    display: flex;
    gap: 0.3rem;
    width: 100%;
  }

  span {
    display: inline-block;
    max-width: 9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .name-box {
    display: flex;
    gap: 0.4rem;
  }

  .nick-name {
    font-size: 1rem;
    font-weight: bold;
  }

  .name,
  .date {
    font-size: 0.9rem;
    color: var(--text-2);
  }

  .date:hover,
  .nick-name:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .menu {
    margin-left: auto;
  }
}

@media (min-width: $sm) {
  section > div:hover {
    background: var(--hover-1);
  }

  .post-meta {
    span {
      max-width: 20rem;
    }
  }
}
